   <div id="header" style="visibility:hidden;">
    <% include header.ejs %>
</div>
<div id="container" class="overview-style-analytics">
   
   <div class="col-md-10" style="margin:0 25% 0 16%; padding-right:1%;>
        <section id="yesterday">
          <div class="row">
            <h2 class="section-header">Yesterday <small> <%= yesterdayString %></small></h2>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Unique Visitors</h4></div>
                <div class="panel-body"><%= uniquesYesterday %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Registrations</h4></div>
                <div class="panel-body"><%= registrationsYesterday %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Questions</h4></div>
                <div class="panel-body">
                  <%= questionsAskedYesterday %> <a class="btn btn-primary btn-xs pull-right" data-toggle="modal" href="#questionsModal">Answer Questions</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Answers</h4></div>
                <div class="panel-body">
                  <%= answersWrittenYesterday %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr>
        <section id="executive-summary">
          <h2>Executive Summary</h2>
          <div class="row">
            <div class="col-md-6">
              <h4 class="table-title">Unique Visitors</h4>
              <div id="dailyVisitors" class="graph-medium"></div>
              <div id="dailyVisitorsSelector" class="graph-selector"></div>
            </div>
            <div class="col-md-6">
              <h4 class="table-title">Registration Rate</h4>
                <div id="dailyRegistrationPercentage" class="graph-medium"></div>
                <div id="dailyRegistrationPercentageSelector" class="graph-selector"></div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h5>NPS <a class="btn btn-primary btn-xs pull-right" target="_blank" href="https://docs.google.com/a/noodle.org/spreadsheet/ccc?key=0AlSYdTPOhBEadHFWRHQ3cGdiRzA0WXpsM0prblM0M3c&usp=drive_web">View Monthly</a></h5></div>
                <div class="panel-body">
                  <iframe height="16px" frameborder='none' src='https://docs.google.com/spreadsheet/pub?key=0AlSYdTPOhBEadHFWRHQ3cGdiRzA0WXpsM0prblM0M3c&single=true&gid=0&range=B1%3AB1&output=html&widget=false'></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h5>Registered Accounts</h5></div>
                <div class="panel-body">22,792</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h5>Domain Authority</h5></div>
                <div class="panel-body">59</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h5>Indexed Pages</h5></div>
                <div class="panel-body">938,982</div>
              </div>
            </div>
          </div>
        </section>
        <hr>
        <section id="marketing">
          <h2>Marketing</h2>
          <div class="row">
            <div class="col-md-6">
              <h4 class="table-title">New Visitors</h4>
                <div id="dailyVisitorsNew" class="graph-medium"></div>
                <div id="dailyVisitorsNewSelector" class="graph-selector"></div>
            </div>
            <div class="col-md-6">
              <h4 class="table-title">Cost per Click</h4>
              <div id="dailyCPC" class="graph-medium"></div>
              <div id="dailyCPCSelector" class="graph-selector"></div>
            </div>
          </div>
        </section>
        <hr>
        <section id="#organic-search">
          <h2>Organic Search</h2>
          <div class="row">
            <div class="col-md-12">
              <h4 class="table-title">Organic Search Visits (excluding Noodlings and Homepage)</h4>
                <div id="organicVisits" class="graph-medium"></div>
                <div id="organicVisitsSelector" class="graph-selector"></div>
            </div>
          </div>
        </section>
        <hr>
        <section id="product">
          <h2>Product</h2>
          <h3>Community</h3>
          <div class="row">
            <div class="col-md-12">
              <h4 class="table-title">Users with an engagement</h4>
              <div id="dailyVisitorsWithEngagement" class="graph-medium"></div>
              <div id="dailyVisitorsWithEngagementSelector" class="graph-selector"></div>
            </div>
          </div>
          <h3>Search</h3>
          <div class="row">
            <div class="col-md-12">
              <h4 class="table-title">% of visits with a Search</h4>
              <div id="dailyVisitorsWithSearchPercentage" class="graph-medium"></div>
              <div id="dailyVisitorsWithSearchPercentageSelector" class="graph-selector"></div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="table-title">% of searches with refinement</h4>
              <div id="dailySearchRefinementsPercentage" class="graph-medium"></div>
              <div id="dailySearchRefinementsPercentageSelector" class="graph-selector"></div>
            </div>
            <div class="col-md-6">
              <h4 class="table-title">Average Time on Site after Search</h4>
              <div id="dailyAvgSearchDuration" class="graph-medium"></div>
              <div id="dailyAvgSearchDurationSelector" class="graph-selector"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="table-title">Pageviews</h4>
              <div id="dailyPageViews" class="graph-medium"></div>
              <div id="dailyPageViewsSelector" class="graph-selector"></div>
            </div>
          </div>
        </section>
        <section id="technology">
          <h2>Technology</h2>
          <div class="row">
            <div class="col-md-12">
              <h4 class="table-title">Page Load Time</h4>
              <div id="avgPageLoadTime" class="graph-medium"></div>
              <div id="avgPageLoadTimeSelector" class="graph-selector"></div>
            </div>
          </div>
        </section>
      </div>
      <hr>
</div>

<!-- MODALS -->


      <!-- Modals -->

      <div class="modal fade" id="questionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Questions by Category</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <h5>Schools</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/preschools">Preschools</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/schools">Schools</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/colleges">Colleges</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/graduate">Graduate</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5>Courses and videos</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/online-courses">Online Courses</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/learn">Learning Materials</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5>Supplemental Individuals</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/guidance-counseling">Guidance Counseling</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/tutoring">Tutoring</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/test-prep">Test-Prep</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5>Supplemental Programs</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/study-abroad">Study Abroad</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/internships">Internships</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/activities">Activities</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/summer-camps">Summer Camps</a>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="modal fade" id="answersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Coming Soon!</h4>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

<!-- /container -->
<% include scripts.ejs %>
<% include end.ejs %>