
<div id="header" style="visibility:hidden;">
<% include header.ejs %>
</div>

<div id="container">

<div class="dashboard-content">
  <div class="dashboard-start-search">
    <section id="deck-container" class="deck-container">

      <div class="content-inner">


        <!-- first slide -->

        <section class="slide" id="find" data-countdown="5">
          <header class="homepage-header--heading">
              <div class="tool-row">

        <h1 class="homepage-header--name" style="text-align:center;"><%= user.displayName %>'s Dashboard</h1>
         <a target="content-frame" href="/i/executive">
        <div class="img-with-text card homepage">
           <p class="home-subheader"><img src="../images/analytics-icon.png">Analytics</p>
        </div></a>
        <a href="https://noodle.slack.com/files/all/posts" target="_blank">
        <div class="img-with-text card homepage">
            <p class="home-subheader"><img src="../images/blog-icon.png">Blog</p>
        </div></a>
        <a href="https://noodle.slack.com/messages/general/files/" target="_blank">
        <div class="img-with-text card homepage">
            <p class="home-subheader"><img src="../images/chat-icon.png">Chat</p>
        </div>
    </div></a>
     <div class="tool-row">
        <br/>
        <a href="/i/brandguide" target="content-frame">
        <div class="img-with-text card homepage">
            <p class="home-subheader"><img src="../images/assets-icon.png">Assets</p>
        </div></a>
        <a href="/toolsOverview" target="content-frame">
        <div class="img-with-text card homepage">
            <p class="home-subheader"><img src="../images/tools-icon.png">Tools</p>
        </div></a>
        <a href= "/gymOverview" target="content-frame">
        <div class="img-with-text card homepage">
            <p class="home-subheader"><img src="../images/gym-icon.png">Gym</p>
        </div>
</a>
      
</div>
</section>

<div>
</div>
</div>

</div>
</div>

        <!-- end first slide -->



        <section id="yesterday">
          <div class="row-homepage">
            <h2 class="section-header">Yesterday's Analytics <small> <%= yesterdayString %></small></h2>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Unique Visitors</h4></div>
                <div class="panel-body"><%= uniquesYesterday %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Registrations</h4></div>
                <div class="panel-body"><%= registrationsYesterday %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Questions</h4></div>
                <div class="panel-body">
                  <%= questionsAskedYesterday %> <a class="btn btn-primary btn-xs pull-right" data-toggle="modal" href="#questionsModal">Answer Questions</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading"><h4>Answers</h4></div>
                <div class="panel-body">
                  <%= answersWrittenYesterday %> 
                </div>
              </div>
            </div>
          </div>
        </section>

          <div class="modal fade" id="questionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Questions by Category</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <h5>Schools</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/preschools">Preschools</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/schools">Schools</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/colleges">Colleges</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/graduate">Graduate</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5>Courses and videos</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/online-courses">Online Courses</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/learn">Learning Materials</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5>Supplemental Individuals</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/guidance-counseling">Guidance Counseling</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/tutoring">Tutoring</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/test-prep">Test-Prep</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5>Supplemental Programs</h5>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/study-abroad">Study Abroad</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/internships">Internships</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/activities">Activities</a>
                  <a class="btn btn-default" target="_blank" href="http://www.noodle.org/questions/summer-camps">Summer Camps</a>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      
         <div class="modal fade" id="answersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Coming Soon!</h4>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



  <!--  <ul class="list-group metrics" style="font-family:MuseoSans-700; ">
  <li class="list-group-item">
    <span class="badge"><%= visitorsLast30Days %></span>
    VISITORS LAST 30 DAYS
  </li>
   <li class="list-group-item">
    <span class="badge"><%= uniquesYesterday %></span>
    UNIQUES YESTERDAY
  </li>
    <li class="list-group-item">
    <span class="badge"><%= registrationsYesterday %></span>
     REGISTRATIONS YESTERDAY
  </li>
   <li class="list-group-item">
    <span class="badge"><%= questionsAskedYesterday %></span>
     QUESTIONS ASKED YESTERDAY
  </li>
   <li class="list-group-item">
    <span class="badge"><%= answersWrittenYesterday %></span>
     ANSWERS WRITTEN YESTERDAY
  </li>
 -->
  
</ul>

   
</div> 
<!-- /container -->  


      <% include scripts.ejs %>
      <% include end.ejs %>